africastalking
aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
arabic-reshaper
asgiref
asn1crypto
attrs
black
brotli
certifi
cffi
charset-normalizer
click
colorama
crispy-bootstrap5
cryptography
cssselect2
Deprecated
Django
django-allauth
django-cors-headers
django-crispy-forms
django-extensions
django-filter
django-jet
django-jet-reboot
django-model-utils
django-modeltranslation
djangorestframework
djangorestframework_simplejwt
et_xmlfile
factory_boy
Faker
fonttools
freetype-py
frozenlist
gopay
html5lib
idna
lxml
multidict
mypy_extensions
numpy
openpyxl
oscrypto
pandas
pathspec
pillow
platformdirs
propcache
psycopg2
pycairo
pycparser
pydantic
pydyf
pyHanko
pyhanko-certvalidator
PyJWT
pypdf
pyphen
python-barcode
python-bidi
python-dateutil
python-decouple
python-dotenv
pytz
PyYAML
qrcode
reportlab
requests
responses
rlPyCairo
schema
six
sqlparse
stripe
svglib
tinycss2
tinyhtml5
twilio
typing_extensions
tzdata
tzlocal
ua-parser
ua-parser-builtins
uritools
urllib3
user-agents
weasyprint
webencodings
whitenoise
wrapt
xhtml2pdf
xlsxwriter
xlwt
yarl
zopfli
django-tenants

celery
redis
django-redis
gunicorn
dj-database-url
boto3
